body {
    margin: 0;
    background-color: #F9F1E8;
    font-family: 'Raleway', sans-serif;
    font-weight: 270px;
}

header {
    display: flex;
    /* horizontaal in het midden */
    justify-content: center;
    align-items: center;
    background-color: #826851;
    padding: 2rem;
    gap: 20px;

    p {
        justify-self: center;
        color: #DEA8A2;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    h1 {
        margin: 0;
        color: #DEA8A2;
        text-decoration: underline #DEA8A2;
        /* lichte 3D text */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
}

.search-container {
    position: relative;
    padding-left: 10rem;
}

#searchInput {
    border-radius: 10px;
    border: 2px solid #3f3d3a;
    background-color: #F9F1E8;
    padding: 3px 35px 3px 10px;
}

.search-icon {
    position: absolute;
    stroke: #826851;
    right: 10px;
    top: 10%;
    /* Typen is mogelijk hierdoor*/
    pointer-events: none;
}

h2 {
    margin-left: 30px;
    color: #826851;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.students {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.students article {
    display: flex;
    width: 100%;
    height: 200px;
}

.students article:nth-child(odd) {
    justify-content: flex-start;
}

.students article:nth-child(even) {
    justify-content: flex-end;
}

.student-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 10px;
    background-color: #DEA8A2;
    width: 70%;

    p {
        color: #F9F1E8;
        font-size: 30px;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    }
}

.students article:nth-child(odd) .student-card {
    flex-direction: row;
        padding-left: 10px;

}

.students article:nth-child(even) .student-card {
    flex-direction: row-reverse;
        padding-right: 10px;
}

.student-card img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    object-fit: cover;
}